.label {
  @apply capitalize tracking-wide text-gray-700 text-sm font-bold mb-2;
}

.input {
  @apply appearance-none block w-full bg-gray-100 text-gray-700 text-sm border border-gray-200 rounded py-2 px-4 leading-tight;
  @apply focus:outline-none;

  @apply file:mr-2 file:py-1 file:px-2 file:rounded-md
  file:border-0 file:text-sm file:font-semibold
  file:bg-gray-300 file:text-gray-700
  hover:file:bg-gray-400
}

.input-success {
  @apply border-blue-600;
}

.input-error {
  @apply border-red-600;
}

.checkbox {
  @apply mr-2 leading-tight focus:outline-none;
}

.error {
  @apply text-xs text-red-600;
}

.footnote-star {
  @apply text-red-600;
}


.row {
  @apply flex flex-wrap justify-between items-center;
  @apply flex-col md:flex-row;
}

.button {
  @apply flex-1 w-full my-2;
}

